
@page "/roleList"
@inject IKTTheme KTTheme;
@inject IJSRuntime JS;
@using Starterkit.Shared.Partials.General;
@using Starterkit._keenthemes.libs

<script suppress-error="BL9992" src='@KTTheme.GetAssetPath("js/custom/roles/roleList.js")'></script>


<div id="kt_docs_datatable_subtable_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
	<div id="" class="table-responsive">
		<table class="table align-middle table-row-dashed fs-6 gy-4 dataTable" id="kt_docs_datatable_subtable" style="width: 1162.5px;">
			<colgroup><col style="width: 167.625px;"><col style="width: 167.625px;"><col style="width: 251.453px;"><col style="width: 167.625px;"><col style="width: 167.625px;"><col style="width: 182.219px;"><col style="width: 58.3281px;"></colgroup>
			<!--begin::Table head-->
			<thead>
				<!--begin::Table row-->
				<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row"><th class="min-w-100px dt-orderable-none" data-dt-column="0" rowspan="1" colspan="1"><span class="dt-column-title">Order ID</span><span class="dt-column-order"></span></th><th class="text-end min-w-100px dt-orderable-none" data-dt-column="1" rowspan="1" colspan="1"><span class="dt-column-title">Created</span><span class="dt-column-order"></span></th><th class="text-end min-w-150px dt-orderable-none" data-dt-column="2" rowspan="1" colspan="1"><span class="dt-column-title">Customer</span><span class="dt-column-order"></span></th><th class="text-end min-w-100px dt-orderable-none dt-type-numeric" data-dt-column="3" rowspan="1" colspan="1"><span class="dt-column-title">Total</span><span class="dt-column-order"></span></th><th class="text-end min-w-100px dt-orderable-none dt-type-numeric" data-dt-column="4" rowspan="1" colspan="1"><span class="dt-column-title">Profit</span><span class="dt-column-order"></span></th><th class="text-end min-w-50px dt-orderable-none" data-dt-column="5" rowspan="1" colspan="1"><span class="dt-column-title">Status</span><span class="dt-column-order"></span></th><th class="text-end dt-orderable-none" data-dt-column="6" rowspan="1" colspan="1"><span class="dt-column-title"></span><span class="dt-column-order"></span></th></tr>
				<!--end::Table row-->
			</thead>
			<!--end::Table head-->
			<!--begin::Table body-->
			<tbody class="fw-bold text-gray-600">
				<tr class="">

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#XGT-346</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-24T04:33:00+03:00">3 hours ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Emma Smith</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$630.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$86.70</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-warning">Pending</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
				<tr class="">

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#YHD-047</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-24T03:41:00+03:00">4 hours ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Melody Macy</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$25.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$4.20</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-primary">Confirmed</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
				<tr class="isOpen border-bottom-0">

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#SRR-678</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-24T00:33:00+03:00">7 hours ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Max Smith</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$1,630.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$203.90</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-warning">Pending</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px active" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
				<tr data-kt-docs-datatable-subtable="subtable_template" class="">
					<td colspan="2" class="rounded-start rounded-bottom-0">
						<div class="d-flex align-items-center gap-3">
							<a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="assets/media/stock/ecommerce/83.png" alt="" data-kt-docs-datatable-subtable="template_image">
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-900 text-hover-primary fw-bold" data-kt-docs-datatable-subtable="template_name">Nike Pumps</a>
								<div class="fs-7" data-kt-docs-datatable-subtable="template_description">Apple's latest and most advanced headphones.</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Cost</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_cost">200.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_qty">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_total">200.00</div>
					</td>
					<td class="text-end rounded-end rounded-bottom-0">
						<div class="text-gray-900 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_stock"><div class="badge badge-light-warning">Low Stock</div></div>
					</td>
					<td></td>
				</tr>
				<tr data-kt-docs-datatable-subtable="subtable_template" class="">
					<td colspan="2">
						<div class="d-flex align-items-center gap-3">
							<a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="assets/media/stock/ecommerce/21.png" alt="" data-kt-docs-datatable-subtable="template_image">
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-900 text-hover-primary fw-bold" data-kt-docs-datatable-subtable="template_name">Apple Airpod 3</a>
								<div class="fs-7" data-kt-docs-datatable-subtable="template_description">Apple's latest and most advanced earbuds.</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Cost</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_cost">200.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_qty">2</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_total">400.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_stock"><div class="badge badge-light-success">In Stock</div></div>
					</td>
					<td></td>
				</tr>
				<tr data-kt-docs-datatable-subtable="subtable_template" class="">
					<td colspan="2">
						<div class="d-flex align-items-center gap-3">
							<a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="assets/media/stock/ecommerce/211.png" alt="" data-kt-docs-datatable-subtable="template_image">
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-900 text-hover-primary fw-bold" data-kt-docs-datatable-subtable="template_name">Dry-fit Sports T-shirt</a>
								<div class="fs-7" data-kt-docs-datatable-subtable="template_description">Comfortable sportswear for everyday use.</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Cost</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_cost">89.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_qty">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_total">89.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_stock"><div class="badge badge-light-success">In Stock</div></div>
					</td>
					<td></td>
				</tr>
				<tr data-kt-docs-datatable-subtable="subtable_template" class="">
					<td colspan="2">
						<div class="d-flex align-items-center gap-3">
							<a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="assets/media/stock/ecommerce/60.png" alt="" data-kt-docs-datatable-subtable="template_image">
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-900 text-hover-primary fw-bold" data-kt-docs-datatable-subtable="template_name">Bose Earbuds</a>
								<div class="fs-7" data-kt-docs-datatable-subtable="template_description">Top quality earbuds from Bose.</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Cost</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_cost">300.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_qty">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_total">300.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_stock"><div class="badge badge-light-warning">Low Stock</div></div>
					</td>
					<td></td>
				</tr>
				<tr data-kt-docs-datatable-subtable="subtable_template" class="border-bottom-0">
					<td colspan="2" class="rounded-start rounded-top-0">
						<div class="d-flex align-items-center gap-3">
                            <a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="assets/media/stock/ecommerce/76.png" alt="" data-kt-docs-datatable-subtable="template_image">
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-900 text-hover-primary fw-bold" data-kt-docs-datatable-subtable="template_name">Go Pro 8</a>
								<div class="fs-7" data-kt-docs-datatable-subtable="template_description">Latest  version of Go Pro.</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Cost</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_cost">500.00</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_qty">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-900 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_total">500.00</div>
					</td>
					<td class="text-end rounded-end rounded-top-0">
						<div class="text-gray-900 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-docs-datatable-subtable="template_stock"><div class="badge badge-light-success">In Stock</div></div>
					</td>
					<td></td>
				</tr>
				<tr>

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#PXF-534</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-23T04:33:00+03:00">a day ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Sean Bean</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$119.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$12.00</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-success">Shipped</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
				<tr>

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#XGD-249</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-22T04:33:00+03:00">2 days ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Brian Cox</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$660.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$52.26</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-success">Shipped</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
				<tr>

					<!--begin::Order ID-->
					<td>
						<a href="#" class="text-gray-900 text-hover-primary">#SKP-035</a>
					</td>
					<!--end::Order ID-->
					<!--begin::Crated date-->
					<td class="text-end" data-order="2024-04-21T04:33:00+03:00">3 days ago</td>
					<!--end::Created date-->
					<!--begin::Customer-->
					<td class="text-end">
						<a href="" class="text-gray-900 text-hover-primary">Brian Cox</a>
					</td>
					<!--end::Customer-->
					<!--begin::Total-->
					<td class="text-end dt-type-numeric">
						$290.00
					</td>
					<!--end::Total-->
					<!--begin::Profit-->
					<td class="text-end dt-type-numeric">
						<span class="text-gray-900 fw-bold">$29.00</span>
					</td>
					<!--end::Profit-->
					<!--begin::Status-->
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-danger">Rejected</span>
					</td>
					<!--end::Status-->
					<!--begin::Actions-->
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-docs-datatable-subtable="expand_row">
							<i class="ki-duotone ki-plus fs-3 m-0 toggle-off"></i>								<i class="ki-duotone ki-minus fs-3 m-0 toggle-on"></i>
						</button>
					</td>
					<!--end::Actions-->
				</tr>
			</tbody>
			<!--end::Table body-->
			<tfoot></tfoot>
		</table>
	</div><div id="" class="row"><div id="" class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start dt-toolbar"></div><div id="" class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"></div></div>
</div>
@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await Task.Delay(1000);
			await JS.InvokeVoidAsync("KTDocsDatatableSubtable.init");
		}
	}
}
